<!-- Start Contact Info -->
<h1><span id="first-name">John</span> <span id="last-name">Doe</span></h1>
<h6>Cell: <span id="phone-number">999-999-9999</span></h6>
<h6>Email: <span id="email">email@email.com</span></h6>
<!-- End Contact Info -->
<!-- Start Education -->
<h2>Education</h2>
<div id="education-section">
  <h4><span id="school-name0">Your University</span></h4>
  <p><span id="major">Your Major</span></p>
  <p>
    <span id="start-date">May 2019</span> -
    <span id="end-date">August 2020</span>
  </p>
  <p>GPA <span id="gpa">4.0</span></p>
</div>

<!-- End Education -->
